<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block custom_head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'excel-bootstrap-table-filter-style.css' %}">
    <script src="{% static 'excel-bootstrap-table-filter-bundle.js' %}"></script>
    <script src="{% static 'jquery.tabledit.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="main h-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Atypon Assets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor03">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload CSV file</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_item">Add Item</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div id="content" class="container-fluid align-items-center">
    <div class="container-fluid">
        <div class="mt-1">
            <h2>
                {% block page_header %}
                {% endblock %}
            </h2>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>