{% extends 'base.html' %}
{
{% load crispy_forms_filters %}

{% block title %}

{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    Inventory Details
{% endblock %}
{% block content %}
    <table class="table table-hover table-borderless text-center">
        <thead>
        <tr>
            <th id="asset_tag">Asset Tag</th>
            <th id="location">Location</th>
            <th id="specification">Specification</th>
            <th id="brand">Brand</th>
            <th id="model">Model</th>
            <th id="service_tag">Service Tag</th>
            <th id="system_name">System Name</th>
            <th id="assigned_to">Assigned To</th>
            <th id="team">Team</th>
            <th id="acquisition_date">Acquisition Date</th>
            <th id="decommission_date">Decommission Date</th>
            <th id="notes">Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.asset_tag }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.specification }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.service_tag }}</td>
                <td>{{ item.system_name }}</td>
                <td>{{ item.assigned_to }}</td>
                <td>{{ item.team }}</td>
                <td>{{ item.acquisition_date }}</td>
                <td>{{ item.decommission_date }}</td>
                <td>{{ item.notes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('table').excelTableFilter();
    </script>
{% endblock %}