{% extends 'base.html' %}
{
{% load crispy_forms_filters %}

{% block title %}

{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    Inventory Details
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div>
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p style="word-wrap: break-word;">
                    {{ message|safe }}
                </p>
            </div>
        </div>
    {% endfor %}
    <table class="table table-hover table-borderless text-center">
        <thead>
        <tr>
            <th id="asset_tag">Asset Tag</th>
            <th id="location">Location</th>
            <th id="specification">Specification</th>
            <th id="brand">Brand</th>
            <th id="model">Model</th>
            <th id="service_tag">Service Tag</th>
            <th id="system_name">System Name</th>
            <th id="assigned_to">Assigned To</th>
            <th id="team">Team</th>
            <th id="acquisition_date">Acquisition Date</th>
            <th id="decommission_date">Decommission Date</th>
            <th id="notes">Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.asset_tag|default_if_none:"-None-" }}</td>
                <td>{{ item.location|default_if_none:"-None-" }}</td>
                <td>{{ item.specification|default_if_none:"-None-" }}</td>
                <td>{{ item.brand|default_if_none:"-None-" }}</td>
                <td>{{ item.model|default_if_none:"-None-" }}</td>
                <td>{{ item.service_tag|default_if_none:"-None-" }}</td>
                <td>{{ item.system_name|default_if_none:"-None-" }}</td>
                <td>{{ item.assigned_to|default_if_none:"-None-" }}</td>
                <td>{{ item.team|default_if_none:"-None-" }}</td>
                <td>{{ item.acquisition_date|default_if_none:"-None-" }}</td>
                <td>{{ item.decommission_date|default_if_none:"-None-" }}</td>
                <td>{{ item.notes|default_if_none:"-None-" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('table').excelTableFilter();
    </script>
{% endblock %}